<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netposa.component.location">

    <application>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8a23898aac715d826274ab0e7072bb4d" />

        <service
            android:name=".service.GpsLocationService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".service.AMapLocationService"
            android:enabled="true"
            android:exported="false"></service>

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>