<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netposa.component.clcx">

    <application>
        <activity
            android:name=".mvp.ui.activity.QueryCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.QueryResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CarRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CarTypeActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>